<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <h1>Backoffice | Admin </h1>
        <nav>
            <ul>
                <li><a href="../views/lista-produtos.html">Lista de Produtos</a></li>
                <li><a href="../views/lista-usuarios.html">Lista de Usuários</a></li>
                <li><a href="../views/index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Seja bem vindo Administrador!</h2>
        <!-- Conteúdo do admin dashboard -->
    </main>
</body>
</html>
