<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoquista Dashboard</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <h1>Backoffice | Estoquista</h1>
        <nav>
            <ul>
                <li><a href="../views/lista-produtos.html">Lista de Produtos</a></li>
                <li><a href="../views/index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Seja bem vindo Estoquista!</h2>
        <!-- Conteúdo do estoquista dashboard -->
    </main>
</body>

</html>