<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRBA | Home</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <h1>QRBA | Home</h1>
        <nav>
            <ul>
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Bem-vindo ao QRBA - Cervejas Artesanais</h2></br>
            <h3>
                <p>Faça login para acessar o painel Backoffice!
            </h3>
            </p></br>
            <p>Descubra uma variedade incrível de cervejas artesanais cuidadosamente selecionadas para satisfazer o seu
                paladar exigente. Nossa loja oferece uma experiência única para os amantes de cerveja, onde qualidade,
                sabor e autenticidade se encontram.</p>
        </div>

    </main>
</body>
</html>