<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRBA | Login</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <h1>QRBA | Login</h1>
        <nav>
            <ul>
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Faça login para acessar o backoffice</h2>
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required><br>
            <button type="submit">Login</button>
        </form>
    </main>
</body>

</html>